@charset "UTF-8";
body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.sidebar{
    width: 350px;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    margin: 0;
    background-color: #dfdfdf;
    flex: 0 0 auto;
}
.sideCategory{
	width: 90px;
	height: 100%;
	float: left;
	background-color: #333333;
}
.sideDetail{
	width: 260px;
	height: 100%;
	float: left;
	background-color: white;
	border: 1px solid grey;
	justify-content: center;
}
.sideDetail > form > select{
	width: 80%;
	height: 35px;
	margin: 0 auto;
	border-radius: 5px;
	border-color: grey;
	margin-top: 10px;
	display: block;
}

.sideDetail > form > button{
	width: 80%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	background-color: #2992D8;
	border-radius: 5px;
	border-color: grey;
	color: white;
}
.sideDetail > form > button:hover{
	background-color: #2279B3;
}

.sideCategory > ul > li {
	width: 100%;
	height: 80px;
    position: relative;
    padding: 0;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideCategory > ul > li :hover{
	filter: drop-shadow(5px 3px 3px grey); 
}
.selectedCate{
	width: 100%;
	background-color: #2992D8;
	flex: 1;
}
.sideCategory ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
    list-style: none;
}
.sideCategory ul > li > a {
    display: block;
    padding: 0;
    white-space: nowrap;
    text-align:center;
    font-size: small;
    text-decoration: none;
    color: white;
}
.icon{
	width: 50px;
	height: auto;
	margin: 0 auto;
}
